In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv('public-transport-data.csv',encoding='UTF-8')
df

,Date,TransportType,Route,DepartureTime,ArrivalTime,Passengers,DepartureStation,ArrivalStation,Delay
0,2023-01-01,Tram,Route_5,22:29,24:53,38,Station_19,Station_5,64
1,2023-01-01,Train,Route_6,09:34,10:04,89,Station_18,Station_14,28
2,2023-01-01,Bus,Route_5,11:44,12:27,9,Station_7,Station_14,33
3,2023-01-01,Train,Route_1,12:52,14:10,20,Station_5,Station_12,18
4,2023-01-01,Metro,Route_7,18:34,20:55,32,Station_3,Station_10,63
...,...,...,...,...,...,...,...,...,...
955,2023-01-30,Bus,Route_10,14:08,15:41,21,Station_5,Station_13,4
956,2023-01-30,Bus,Route_2,10:43,10:52,43,Station_14,Station_4,4
957,2023-01-30,Metro,Route_9,16:51,17:50,65,Station_1,Station_16,12
958,2023-01-30,Bus,Route_5,14:38,15:16,89,Station_2,Station_7,4
959,2023-01-30,Metro,Route_2,14:13,16:15,55,Station_10,Station_20,9

In [16]:
weathermetrics.columns

Index(['DateID', 'RegionID', 'AverageTemperature', 'Humidity', 'WindSpeed',
       'Rainfall', 'SunshineHours'],
      dtype='object')

In [15]:
# Check for duplicate 'ProductID' values
duplicates = region[region.duplicated('RegionID', keep=False)]
duplicates

Empty DataFrame
Columns: [RegionID, RegionName]
Index: []

In [12]:
tt = weathermetrics[weathermetrics['AverageTemperature'] <= -10]
tt

,DateID,RegionID,AverageTemperature,Humidity,WindSpeed,Rainfall,SunshineHours
23,5,4,-10,69,25,8,3
84,17,5,-10,70,10,9,21
160,33,1,-10,53,0,1,2
235,48,1,-10,38,6,4,15
304,61,5,-10,89,4,10,5
...,...,...,...,...,...,...,...
3294,659,5,-10,26,3,2,2
3453,691,4,-10,4,1,8,13
3505,702,1,-10,31,21,1,21
3617,724,3,-10,57,15,7,3
3642,729,3,-10,89,25,8,21

In [8]:
weathermetrics.describe()

,DateID,RegionID,AverageTemperature,Humidity,WindSpeed,Rainfall,SunshineHours
count,3650.000000,3650.000000,3650.000000,3650.000000,3650.000000,3650.000000,3650.000000
mean,365.500000,3.000000,14.860000,50.046027,14.989041,4.993973,12.333973
std,210.761524,1.414407,14.528579,29.251633,8.874904,3.156113,7.243294
min,1.000000,1.000000,-10.000000,0.000000,0.000000,0.000000,0.000000
25%,183.000000,2.000000,2.000000,25.000000,7.000000,2.000000,6.000000
50%,365.500000,3.000000,14.000000,50.000000,15.000000,5.000000,12.500000
75%,548.000000,4.000000,28.000000,76.000000,23.000000,8.000000,19.000000
max,730.000000,5.000000,40.000000,100.000000,30.000000,10.000000,24.000000

In [5]:
print(df.isnull().sum(axis=0))

CustomerID               0
Name                     0
Email                  100
Age                      0
Gender                   0
Location                 0
ProductID                0
Category                 0
Subcategory              0
Price                    0
Weight                   0
Dimensions               0
OrderID                  0
Date_Order               0
TotalAmount              0
ShippingMethod           0
Status                   0
InventoryID              0
StockLevel               0
RestockThreshold         0
LastRestockDate          0
WarehouseID              0
Location_warehouse       0
Capacity                 0
SupplierID               0
Company                  0
Location_Supplier        0
QualityScore          1039
dtype: int64

In [6]:
# Create a condition to filter rows
condition = (df['Age'] < 13) | (df['Age'] > 87)

# Apply the condition to the DataFrame and count the rows
count_of_rows = len(df[condition])

print("Number of rows with age < 13 or age > 87:", count_of_rows)

Number of rows with age < 13 or age > 87: 40

In [7]:
columns=df.columns.tolist()
df[columns[:14]]

,CustomerID,Name,Email,Age,Gender,Location,ProductID,Category,Subcategory,Price,Weight,Dimensions,OrderID,Date_Order
0,0,Kayla Howell,NaN,112,Male,Lake Benjamin,0,Electronics©,Smart Watches,384.37,16.16,33x13x47,0,2021-08-04
1,1,Wanda Graham,brianfisher@example.com,65,Female,West Joshua,1,Electronics,Cameras,331.40,21.85,8x49x50,1,03-08-2021
2,2,Raymond James,brownfred@example.com,21,Male,Sweeneyton,2,Electronics,Mobile Phones,534.75,40.74,6x30x30,2,2020-10-21
3,3,Thomas Smith,anthonyleon@example.com,68,Female,Lake Matthew,3,Furniture,Cabinets,259.52,11.76,23x27x1,3,04-07-2022
4,4,Matthew Lee,david54@example.org,66,Female,West Kristinbury,4,Clothing,T-Shirts,800.64,13.83,26x21x15,4,11/05/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,9994,Jeffrey Martinez,deborahowens@example.org,21,Female,Johnborough,12,Clothing,Dresses,923.74,17.74,27x10x36,9994,12-23-2020
9995,9995,Justin Johnson,fmoore@example.net,45,Female,West Pennyside,4,Clothing,T-Shirts,689.97,47.39,23x23x43,9995,03/08/2022
9996,9996,Andrew Frye,coopermallory@example.com,43,Female,East Roberto,10,Electronics,Laptops,7.06,44.54,50x46x18,9996,08-16-2021
9997,9997,Miguel Allen,allenmichael@example.com,53,Male,Sanchezfort,1,Electronics,Cameras,767.67,4.96,15x34x19,9997,2020-09-21
9998,9998,Brenda Patterson,jaclyn36@example.com,39,Male,Justinstad,2,Electronics,Mobile Phones,171.45,7.71,11x44x23,9998,2021-08-18

In [20]:
import pandas as pd

# Assuming you have your data loaded into a DataFrame called 'df'
# Check for duplicate 'ProductID' values
duplicates = df[df.duplicated('ProductID', keep=False)]
duplicates

,CustomerID,Name,Email,Age,Gender,Location,ProductID,Category,Subcategory,Price,...,StockLevel,RestockThreshold,LastRestockDate,WarehouseID,Location_warehouse,Capacity,SupplierID,Company,Location_Supplier,QualityScore
0,0,Kayla Howell,NaN,112,Male,Lake Benjamin,0,Electronics©,Smart Watches,384.37,...,862,25,2022-03-06,54,Jasonborough,15745,2,Miller-Pearson,Clarkmouth,9.83
1,1,Wanda Graham,brianfisher@example.com,65,Female,West Joshua,1,Electronics,Cameras,331.40,...,549,254,2020-11-23,6,Dawnport,7291,2,Miller-Pearson,Clarkmouth,9.83
2,2,Raymond James,brownfred@example.com,21,Male,Sweeneyton,2,Electronics,Mobile Phones,534.75,...,656,236,2022-02-10,236,Hallview,10609,8,Parks-Gallegos,Jenkinsside,6.82
3,3,Thomas Smith,anthonyleon@example.com,68,Female,Lake Matthew,3,Furniture,Cabinets,259.52,...,621,88,2021-07-04,239,Mckenzieton,16255,5,Morgan LLC,Port Robynmouth,1.23
4,4,Matthew Lee,david54@example.org,66,Female,West Kristinbury,4,Clothing,T-Shirts,800.64,...,557,385,2022-08-16,289,Port Austin,16559,2,Miller-Pearson,Clarkmouth,9.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,9994,Jeffrey Martinez,deborahowens@example.org,21,Female,Johnborough,12,Clothing,Dresses,923.74,...,726,120,2021-03-04,482,Mendezside,18674,2,Miller-Pearson,Clarkmouth,9.83
9995,9995,Justin Johnson,fmoore@example.net,45,Female,West Pennyside,4,Clothing,T-Shirts,689.97,...,84,254,2020-11-19,180,Scottfort,12059,3,Johnson-Rodriguez,Katherineborough,7.40
9996,9996,Andrew Frye,coopermallory@example.com,43,Female,East Roberto,10,Electronics,Laptops,7.06,...,369,177,2020-11-27,52,North Mary,19446,1,"Salas, Gonzalez and Todd",Patriciaberg,8.21
9997,9997,Miguel Allen,allenmichael@example.com,53,Male,Sanchezfort,1,Electronics,Cameras,767.67,...,966,149,2022-08-20,106,New Melanie,6702,1,"Salas, Gonzalez and Todd",Patriciaberg,8.21
9998,9998,Brenda Patterson,jaclyn36@example.com,39,Male,Justinstad,2,Electronics,Mobile Phones,171.45,...,619,327,2020-09-09,328,North Jenniferburgh,10835,6,Morgan LLC,New Marktown,2.48

In [57]:
com = df['ProductID'].nunique()
com

15

In [58]:
uni = df.groupby('ProductID')['Price'].unique()
uni

ProductID
0     [384.37, 851.75, 513.1, 609.85, 467.85, 217.56...
1     [331.4, 47.35, 119.71, 330.88, 796.36, 414.21,...
2     [534.75, 319.88, 867.3, 952.27, 140.13, 180.06...
3     [259.52, 511.68, 433.85, 146.18, 702.29, 680.7...
4     [800.64, 517.0, 648.32, 550.82, 125.76, 42.33,...
6     [509.78, 55.02, 177.16, 194.07, 720.86, 563.05...
8     [85.79, 29.0, 437.44, 351.97, 593.75, 397.96, ...
9     [43.71, 479.38, 377.97, 737.52, 910.48, 356.04...
10    [63.67, 942.14, 941.25, 895.95, 299.45, 747.97...
11    [514.67, 446.11, 360.44, 272.87, 468.03, 823.1...
12    [692.54, 647.51, 233.1, 967.73, 696.51, 416.74...
13    [899.24, 428.18, 588.66, 903.11, 339.76, 77.08...
16    [120.26, 455.83, 473.64, 578.14, 147.75, 41.78...
21    [541.9, 40.55, 321.05, 73.5, 115.53, 817.36, 8...
48    [399.79, 886.11, 496.17, 718.89, 126.51, 372.7...
Name: Price, dtype: object

In [34]:
uni = df.groupby('WarehouseID')['InventoryID'].unique()
uni

WarehouseID
0      [223, 485, 526, 1104, 1275, 2500, 2579, 2802, ...
1      [30, 47, 2652, 2892, 3207, 3974, 4071, 4214, 5...
2      [1319, 1747, 1956, 2194, 2974, 3404, 3613, 425...
3      [1248, 2562, 3697, 4315, 4343, 4568, 4728, 485...
4      [787, 2066, 2200, 3233, 4250, 4655, 4988, 5588...
                             ...
495    [611, 973, 3869, 4449, 5173, 6753, 7090, 7681,...
496    [279, 340, 1563, 3334, 3743, 3903, 4847, 5644,...
497    [136, 2323, 2489, 2556, 2681, 3433, 3848, 5687...
498    [413, 709, 1232, 2591, 3240, 4370, 4514, 4787,...
499    [630, 1059, 1095, 1447, 1663, 1820, 2138, 2371...
Name: InventoryID, Length: 500, dtype: object

In [28]:
uni = df.groupby('WarehouseID')['InventoryID'].unique()
uni

WarehouseID
0      [223, 485, 526, 1104, 1275, 2500, 2579, 2802, ...
1      [30, 47, 2652, 2892, 3207, 3974, 4071, 4214, 5...
2      [1319, 1747, 1956, 2194, 2974, 3404, 3613, 425...
3      [1248, 2562, 3697, 4315, 4343, 4568, 4728, 485...
4      [787, 2066, 2200, 3233, 4250, 4655, 4988, 5588...
                             ...
495    [611, 973, 3869, 4449, 5173, 6753, 7090, 7681,...
496    [279, 340, 1563, 3334, 3743, 3903, 4847, 5644,...
497    [136, 2323, 2489, 2556, 2681, 3433, 3848, 5687...
498    [413, 709, 1232, 2591, 3240, 4370, 4514, 4787,...
499    [630, 1059, 1095, 1447, 1663, 1820, 2138, 2371...
Name: InventoryID, Length: 500, dtype: object

In [9]:
columns=df.columns.tolist()
df[columns[14:]]

,TotalAmount,ShippingMethod,Status,InventoryID,StockLevel,RestockThreshold,LastRestockDate,WarehouseID,Location_warehouse,Capacity,SupplierID,Company,Location_Supplier,QualityScore
0,£280.09,Express,Pending,0,862,25,2022-03-06,54,Jasonborough,15745,2,Miller-Pearson,Clarkmouth,9.83
1,£740.51,Two-day,Cancelled,1,549,254,2020-11-23,6,Dawnport,7291,2,Miller-Pearson,Clarkmouth,9.83
2,$1560.72,Two-day,Cancelled,2,656,236,2022-02-10,236,Hallview,10609,8,Parks-Gallegos,Jenkinsside,6.82
3,$1876.08,Express,Pending,3,621,88,2021-07-04,239,Mckenzieton,16255,5,Morgan LLC,Port Robynmouth,1.23
4,£170.67,Standard,Pending,4,557,385,2022-08-16,289,Port Austin,16559,2,Miller-Pearson,Clarkmouth,9.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,€2371.77,Two-day,Delivered,9994,726,120,2021-03-04,482,Mendezside,18674,2,Miller-Pearson,Clarkmouth,9.83
9995,€1517.88,Two-day,Shipped,9995,84,254,2020-11-19,180,Scottfort,12059,3,Johnson-Rodriguez,Katherineborough,7.40
9996,€216.89,Express,Cancelled,9996,369,177,2020-11-27,52,North Mary,19446,1,"Salas, Gonzalez and Todd",Patriciaberg,8.21
9997,$1409.02,Two-day,Pending,9997,966,149,2022-08-20,106,New Melanie,6702,1,"Salas, Gonzalez and Todd",Patriciaberg,8.21
9998,$114.92,Two-day,Delivered,9998,619,327,2020-09-09,328,North Jenniferburgh,10835,6,Morgan LLC,New Marktown,2.48

In [11]:
name = df[df['ShippingMethode'] == 'Nan']
name

,CustomerID,Name,Email,Age,Gender,Location,ProductID,Category,Subcategory,Price,...,StockLevel,RestockThreshold,LastRestockDate,WarehouseID,Location_warehouse,Capacity,SupplierID,Company,Location_Supplier,QualityScore
21,21,Amanda Hanson,iwheeler@example.net,65,Male,New Sean,21,Furniture,Sofas,541.90,...,835,100,2021-12-04,95,Lake Monique,18830,5,Morgan LLC,Port Robynmouth,1.23
26,26,Mary Ross,gregory22@example.com,69,Male,Leemouth,21,Furniture,Sofas,40.55,...,602,276,2021-04-10,18,West Jasonshire,14204,1,"Salas, Gonzalez and Todd",Patriciaberg,8.21
49,49,Jaime Chapman,ashley20@example.org,23,Male,South Katherine,21,Furniture,Sofas,321.05,...,99,283,2021-07-14,164,Austinland,7259,1,"Salas, Gonzalez and Todd",Patriciaberg,8.21
50,50,Paul Schmidt,jason64@example.org,23,Male,Greenburgh,21,Furniture,Sofas,73.50,...,453,328,2021-05-11,268,Chasefurt,16822,0,Johnson-Rodriguez,Port Robynmouth,NaN
56,56,Erin Ellis,rothronnie@example.com,64,Male,Tabithaport,21,Furniture,Sofas,115.53,...,418,127,2021-03-09,302,Nathanland,17898,6,Morgan LLC,New Marktown,2.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9924,9924,Ethan Bradley,christian82@example.org,62,Male,Davidberg,21,Furniture,Sofas,640.63,...,115,260,2021-03-18,194,Daniellefurt,15629,3,Johnson-Rodriguez,Katherineborough,7.40
9940,9940,Bethany Castro,kimsandoval@example.com,50,Female,West Geraldside,21,Furniture,Sofas,539.66,...,616,132,2022-06-01,357,Gomeztown,17698,8,Parks-Gallegos,Jenkinsside,6.82
9964,9964,Frederick Scott,cherrymaria@example.org,24,Female,Krauseburgh,21,Furniture,Sofas,486.82,...,60,205,2021-10-14,438,South Ashleyland,14465,5,Morgan LLC,Port Robynmouth,1.23
9965,9965,Erin Barnes MD,aaron22@example.com,54,Female,New Andrea,21,Furniture,Sofas,743.18,...,385,279,2022-04-23,317,Aaronmouth,11416,1,"Salas, Gonzalez and Todd",Patriciaberg,8.21
9989,9989,Todd Smith,hunterbenjamin@example.com,21,Female,Mitchellberg,21,Furniture,Sofas,307.57,...,833,125,2021-01-12,281,Hoganfort,15078,1,"Salas, Gonzalez and Todd",Patriciaberg,8.21

In [47]:
unique_values_count = df['LocationWarehouse'].nunique()
unique_values_count

491

In [44]:
duplicates = df[df['Location'].duplicated(keep=False)]

duplicate_names = duplicates['Location'].unique()

duplicates

,CustomerID,Name,Email,Age,Gender,Location,ProductID,Category,Subcategory,Price,...,StockLevel,RestockThreshold,LastRestockDate,WarehouseID,LocationWarehouse,Capacity,SupplierID,Company,LocationSupplier,QualityScore
0,7659,Megan Myers,donnastephens@example.net,49,Male,East Anthony,0,Electronics,Smart Watches,680.04,...,10,338,2021-03-21,220,Lake Holly,9562,9,Johnson-Rodriguez,Katherineborough,7.81
2,2985,Willie Roberts,vwatson@example.net,64,Male,Davidchester,4,Clothing,T-Shirts,355.64,...,246,39,2020-12-19,27,Colebury,16981,5,Morgan LLC,Port Robynmouth,1.23
6,7578,Jessica Brown,ohowell@example.net,55,Male,South Nathan,4,Clothing,T-Shirts,689.70,...,897,150,2022-05-27,204,North Monicaville,14702,7,Miller Group,Clarkmouth,6.56
7,3558,Michael Bonilla,rangelashley@example.org,42,Female,East Anthony,16,Furniture,Tables,349.35,...,676,320,2022-06-12,331,Julieshire,5795,2,Miller-Pearson,Clarkmouth,9.83
15,348,Marcus Robinson,pearsonmelissa@example.com,54,Female,Clarkmouth,48,Clothing,Jeans,587.90,...,948,73,2021-03-31,359,New Michaelhaven,9972,5,Morgan LLC,Port Robynmouth,1.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4984,5051,Jerome Berry,ericholt@example.org,24,Male,New Dawn,21,Furniture,Sofas,269.76,...,1,259,2021-11-16,220,Lake Holly,9562,3,Johnson-Rodriguez,Katherineborough,7.40
4987,6949,Stephanie Lindsey,kjackson@example.org,24,Male,Port Victoria,16,Furniture,Tables,706.41,...,320,192,2022-05-21,332,East Richardview,18143,7,Miller Group,Clarkmouth,6.56
4988,769,Marilyn Mcconnell,latoyamiller@example.net,31,Female,Lake Jamie,0,Electronics,Smart Watches,853.22,...,17,294,2022-07-20,301,Merrittshire,6520,7,Miller Group,Clarkmouth,6.56
4997,5390,James Romero,bryanderrick@example.com,35,Female,Aaronville,6,Furniture,Chairs,992.18,...,998,407,2022-05-20,192,New Kyle,13661,9,Johnson-Rodriguez,Katherineborough,7.81
4998,860,Lori Green,vwagner@example.net,42,Female,Paulton,8,Clothing,Shoes,117.30,...,851,450,2022-05-07,136,Jenniferfurt,7388,3,Johnson-Rodriguez,Katherineborough,7.40

In [17]:
# aa=df['UserSegment'].unique()
# aa

In [16]:
# zero = df[df['Price'] == 0].shape
# zero

In [7]:
# zero = df[df['Quantity'] == 0]
# zero

In [8]:
# lap = df[df['Product Name'] == 'LaptopPro']
# lap

In [9]:
# # Sort the DataFrame by the 'Name' column
# df_sorted = df.sort_values(by='Name')
# df_sorted

In [10]:
# duplicates = df[df['Name'].duplicated(keep=False)]

# duplicate_names = duplicates['Name'].unique()

# filtered_rows = df[df['Name'].isin(duplicate_names)]

# filtered_rows

In [11]:
# import matplotlib.pyplot as plt
# # Replace 'Age' with the name of the column you want to check for outliers
# column_name = 'Price'

# # Create a scatter plot to visualize outliers
# plt.figure(figsize=(8, 6))
# plt.scatter(range(len(df[column_name])), df[column_name])
# plt.title(f'Scatter Plot of {column_name}')
# plt.xlabel('Index')
# plt.ylabel(column_name)
# plt.show()

In [12]:
# filtered_rows = df[df['Age'] < 100 ]
# filtered_rows

In [13]:
# columns_with_nan = df.columns[df.isnull().any()]

# print("Columns with NaN values:")
# print(columns_with_nan)

In [14]:
# import pandas as pd

# # Assuming you have a DataFrame named 'df'
# # Replace 'df' with your actual DataFrame name

# # Iterate through each column
# for column in df.columns:
#     # Check if any value in the column contains a hyphen
#     if df[column].astype(str).str.contains('-').any():
#         print(f"Column '{column}' contains values with a hyphen.")

In [15]:
# column_values = df['FullAddress']

# print(column_values)